.equipe .titulo-topico h2 {
  color: #fff;
}

.equipe {
  position: relative;
}

.custom-shape-divider-top-1684508556 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1684508556 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1684508556 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1684614122 {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684614122 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-bottom-1684614122 .shape-fill {
  fill: #FFFFFF;
}

.equipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0px;
  margin-bottom: 60px;
}

.doutor-container {
  padding-top: 60px;
  display: grid;
  justify-content: start;
  justify-items: center;
}

.doutor-imagem img {
  transition: 0.3s;
}

.doutor-imagem img:hover {
  transform: scale(1.07);
}

.doutor-descricao h3 {
  color: #fff;
  font-size: 2rem !important;
  margin-left: 28px;
}

.doutor-descricao {
  margin-top: 40px;
  display: grid;
}

.doutor-lista {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doutor-lista li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.doutor-lista li p {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.doutor-descricao a {
  display: block;
  font-size: 1.25rem;
  color: #e9bd5f;
  margin-top: 32px;
  justify-self: center;
  transition: 0.2s;
}

.doutor-descricao a:hover,
.doutor-descricao a:active,
.doutor-descricao a:focus {
  color: #ebf4ee;
  transform: scale(1.03);
}

@media (max-width: 600px) {
  .doutor-imagem img {
    height: 260px;
    width: 260px;
  }
  .equipe-container {
    gap: 40px;
    justify-items: flex-start;
    margin-bottom: 40px;
  }

  .doutor-container {
    padding-top: 30px;
  }

  .doutor-descricao {
    margin-top: 20px;
  }

  .doutor-descricao a {
    font-size: 1rem;
  }
}

