.equipe .titulo-topico h2 {
  color: #fff;
}

.equipe {
  position: relative;
}

.custom-shape-divider-top-1684508556 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1684508556 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-top-1684508556 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1684614122 {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684614122 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-bottom-1684614122 .shape-fill {
  fill: #FFFFFF;
}

.equipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0px;
  margin-bottom: 60px;
}

.doutor-container {
  padding-top: 60px;
  display: grid;
  justify-content: start;
  justify-items: center;
}

.doutor-imagem {
  border-radius: 50%;
}

.doutor-imagem img {
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.conheca-mais {
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  /* background: #C79D45; */
  background: linear-gradient(45deg ,#C79D45, #b78e35);
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  font-family: 'Poppins';
}

.conheca-mais:hover {
  background: #f7f7f7;
}

.conheca-mais:active {
  transform: scale(0.95);
}

.doutor-imagem img:hover {
  transform: scale(1.07);
}

.doutor-descricao h3 {
  color: #fff;
  font-size: 2rem !important;
  margin-left: 28px;
}

.doutor-descricao {
  margin-top: 40px;
  display: grid;
}

.nome-doutor {
  display: grid;
}

.cro {
  margin: 6px 0px 0px 28px;
}

.doutor-lista {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doutor-lista li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.doutor-lista li p {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.doutor-descricao a {
  display: block;
  font-size: 1rem;
  color: #111;
  margin-top: 32px;
  justify-self: center;
  transition: 0.4s;
}

.doutor-descricao a:hover,
.doutor-descricao a:active,
.doutor-descricao a:focus {
  background-color: transparent;
  border: 2px solid #C79D45;
  color: #C79D45;
  transform: scale(1.03);
}

@media (max-width: 600px) {
  .doutor-imagem img {
    height: 260px;
    width: 260px;
  }
  .equipe-container {
    gap: 40px;
    justify-items: flex-start;
    margin-bottom: 40px;
  }

  .doutor-container {
    padding-top: 30px;
  }

  .doutor-descricao {
    margin-top: 20px;
  }

  .doutor-descricao a {
    font-size: 0.825rem;
  }
}

