footer {
  display: grid;
  justify-content: center;
  gap: 40px;
}

footer figure {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 28px;
}

.texto-footer {
  color: #4f3807;
}

@media (max-width: 768px) {
  footer figure img {
    width: 500px;
  }

  footer ul {
    gap: 44px;
  }

  footer ul img {
    width: 50px;
  }

  .texto-footer {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  footer {
    gap: 32px;
  }
  footer figure img {
    width: 300px;
  }

  footer ul img {
    width: 35px;
  }

  footer ul {
    gap: 32px;
    margin: 20px 0px;
  }

  .texto-footer {
    font-size: 0.75rem;
    text-align: center;
  }
}
