nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  position: relative;
}

.botao-whatsapp {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #25D366;
  padding: 12px 24px;
  border-radius: 500px;
  transition: 0.3s;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px #11111146;
  animation: tilt-shaking 5s infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  1% { transform: rotate(5deg); }
  2% { transform: rotate(0deg); }
  3% { transform: rotate(-5deg); }
  4% { transform: rotate(0deg); }
  5% { transform: rotate(0deg); }
  6% { transform: rotate(-5deg); }
  7% { transform: rotate(0deg); }
  8% { transform: rotate(5deg); }
  9% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  11% { transform: rotate(-5deg); }
  12% { transform: rotate(0deg); }
  13% { transform: rotate(5deg); }
  14% { transform: rotate(0deg); }
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotateZ(40deg);
  }
} */

.botao-whatsapp span {
  color: #004018;
  font-size: 1.25rem;
  font-weight: 500;
}

.botao-whatsapp:hover {
  background-color: #004018;
  padding-right: 40px;
}

.botao-whatsapp:hover span {
  color: #fff;
}

.botao-whatsapp img {
  transition: 0.3s;
}

.botao-whatsapp:hover img {
  transform: scale(1.12);
}

@media (max-width: 992px) {
  .botao-whatsapp img {
    height: 30px;
  }

  .botao-whatsapp span {
    font-size: 1.125rem;
  }

  .botao-whatsapp {
    padding: 10px 20px;
  }
}

@media (max-width: 600px) {
  .botao-whatsapp img {
    height: 24px;
  }

  .botao-whatsapp span {
    font-size: 1rem;
  }

  .botao-whatsapp {
    gap: 8px;
    right: 12px;
  }
}

#botao-mobile {
  display: none;
}

.menu-header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-header li a {
  padding: 10px 20px;
  transition: .2s;
}

.menu-header li a:hover,
.menu-header li a:focus {
  color: #C79D45;
}

.fale-conosco-mobile {
  display: none;
}

.fale-conosco {
  padding: 12px 24px;
  font-size: 1.35rem;
  background-color: transparent;
  border: 2px solid #C79D45;
  border-radius: 5px;
  color: #C79D45;
  transition: .2s;
  white-space: nowrap;
}

.fale-conosco:hover {
  background-color: #25D366;
  border-color: #25D366;
  color: #021121;
}

@media (max-width: 1200px) {
  /* Header */
  .logo-header {
    height: 75px;
    width: 250px;
  }

  .menu-header.fonte-lista li a {
    padding: 6px 12px;
  }

  .menu-header.fonte-lista {
    font-size: 1rem;
  }

  .fale-conosco.fonte-lista {
    font-size: 1.125rem;
    padding: 10px 20px;
  }
}

@media (max-width: 992px){
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  /* Header */
  .menu-header.fonte-lista,
  .fale-conosco.fonte-lista {
    display: none;
  }

  #botao-mobile {
    display: block;
  }

  .menu-header.fonte-lista.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    align-items: center;
    top: 110px;
    transition: .5s;
    background-color: #C79D45;
    padding: 30px 20px;
    border-radius: 10px;
    transition: 0.5s;
  }

  .fale-conosco-mobile {
    display: block !important;
    padding: 8px 16px;
    background-color: #25D366;
    border: 2px solid #25D366;
    color: #004018;
    border-radius: 4px;
    margin-right: 12px;
  }

  .menu-fechar {
    display: none;
  }

  .botao-fechar .menu-hamburguer {
    display: none;
  }

  .botao-fechar .menu-fechar {
    display: block;
    height: 40px !important;
    width: 40px !important;
  }
}

@media(max-width: 600px) {
  /* Header */
  .logo-header {
    height: 60px;
    width: 200px;
  }

  #botao-mobile img {
    height: 20px;
    width: 30px;
  }

  .menu-header.fonte-lista.active {
    padding: 20px 10px;
    top: 90px;
  }

  .menu-header.fonte-lista.active li a {
    font-size: 0.875rem;
  }

  .botao-fechar .menu-fechar {
    display: block;
    height: 24px !important;
    width: 24px !important;
  }
}
