#nossos-tratamentos .titulo-topico {
  padding-top: 30px;
}

#nossos-tratamentos {
  margin-bottom: 40px;
}

.texto-tratamentos {
  margin-top: 40px;
}

.lista-tratamentos {
  margin: 60px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.lista-tratamentos li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.aparelhos {
  display: flex;
  justify-content: space-around;
}

.aparelho-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-top: 72px;
}

.aparelho-item figcaption {
  max-width: 35ch;
  font-size: 1.25rem;
}

@media (max-width: 992px) {
  .aparelhos {
    gap: 20px;
  }

  .aparelho-item img {
    height: 400px;
  }

  .aparelho-item figcaption {
    font-size: 1rem;
  }

  .lista-tratamentos {
    gap: 24px;
  }

  .texto-tratamentos {
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .aparelho-item img {
    height: 350px;
  }
}

@media (max-width: 600px) {
  #nossos-tratamentos .titulo-topico {
    padding-top: 12px;
    font-size: 2rem;
    gap: 8px !important;
  }

  #nossos-tratamentos {
    margin-bottom: 20px;
  }

  .texto-tratamentos {
    margin-top: 24px;
  }

  .lista-tratamentos {
    margin: 30px 0px;
    gap: 16px;
  }

  .lista-tratamentos img {
    height: 16px;
    width: 16px;
  }

  .aparelhos {
    flex-direction: column;
    align-items: center;
  }

  .aparelho-item {
    margin-top: 40px;
  }

  .aparelho-item figcaption {
    max-width: none;
  }

  .aparelho-item figure {
    display: flex;
    justify-content: center;
  }

  .aparelho-item img {
    height: 340px;
  }

  .aparelho-item figcaption {
    font-size: 0.825rem;
  }
}